# Lesson 3 Practice: Pandas Part 1

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L03-Pandas_Part1-Lesson.ipynb](./L03-Pandas_Part1-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

+ `numpy` as `np`
+ `pandas` as `pd`

In [1]:
import numpy as np
import pandas as pd

## Task 2a Create a `pd.Series` object

+ Create a series of your own design.

In [3]:
my_series = pd.Series([1,2,3,3,4.5,np.nan])
my_series

0    1.0
1    2.0
2    3.0
3    3.0
4    4.5
5    NaN
dtype: float64

## Task 2b: Creating a DataFrame

+ Create a pd.DataFrame object from a Python dictionary. Design the data as you like.

In [6]:
my_df = pd.DataFrame(5*np.random.random((5,5)))
my_df

          0         1         2         3         4
0  3.737973  1.844696  0.809058  4.583066  3.249049
1  0.069999  3.175255  4.439225  2.048924  2.199276
2  4.883604  3.450487  2.980181  2.532326  4.274959
3  1.552431  0.884076  0.200723  2.633220  4.141591
4  2.578198  2.796668  0.012888  0.774922  0.578645

## Task 2c: Create DataFrame with labels

+ Create a 10x5 dataframe of random numeric integers that follow a [Guassian (normal) Distribution](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.normal.html). 
  + Center the distrubtion at 0.85.
  + We will use these values as assumed grades for a class of students
+ Adjust the row indexes to be the names of hypothetical students.
+ Adjust the columsn to be the names of hypothetical projects, homework, exam names, etc.

In [14]:
col_names = np.array(['Projects', 'Homework', 'Exam 1', 'Exam 2', 'Exam 3'])
row_names = np.array(['Joe', 'Sam', 'Stephen', 'James', 'Phil', 'Dan', 'Jill', 'Janet', 'Sara', 'Scarlet'])
df_1 = pd.DataFrame(np.random.normal(0.85, scale = 0.05, size =(10,5)), index = row_names, columns = col_names)
df_1

         Projects  Homework    Exam 1    Exam 2    Exam 3
Joe      0.788378  0.893422  0.789278  0.913944  0.822258
Sam      0.800039  0.857451  0.946886  0.831507  0.860384
Stephen  0.909926  0.801938  0.845777  0.778731  0.864469
James    0.862680  0.718900  0.843648  0.902559  0.882061
Phil     0.932796  0.777095  0.784860  0.909119  0.771161
Dan      0.881699  0.882439  0.820497  0.863950  0.801662
Jill     0.916421  0.915973  0.997954  0.921714  0.786278
Janet    0.807055  0.865247  0.750283  0.894781  0.810678
Sara     0.800602  0.903505  0.885027  0.855224  0.849440
Scarlet  0.779394  0.848586  0.815495  0.829158  0.805316

## Task 3a: Import the iris.csv file

+ Import the iris dataset.
+ Take a look at the `pd.read_csv` online documentation. Write example code in a Markup cell for how you would import this file if it were tab-delimited.

In [16]:
df_iris = pd.read_csv('data/iris.csv')
df_iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

df_iris = pd.read_csv('data/iris.csv', delimiter = '\t')

## Task 4a: Explore Data

 + Use `head`, `tail` and `sample` with the iris dataset.
 + Do the same with the dataset you created in task 2c.

## Task 5a: Viewing columns and rows

+ Display the columns and indexes of the iris dataset.
+ Do the same with the dataset you created in Task 2c.

## Task 5b: Get Values

+ Check the version of `pandas` you have 
+ Use the appropriate method to convert the iris data to a dictionary.
+ Do the same with the dataset you created in Task 2c.

## Task 5c: Using `loc`

+ Use any iris dataframe to:
  + Select a row slice with `loc`.
  + Select a row and column slice with `loc`.
  + Take a look at the [Pandas documentation for the `at` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html). Use what you learn there to select a single item with Pandas `at` accessor.

## Task 5d: Using `iloc`

+ Use any iris dataframe to:    
    + Select a row slice with `iloc`.
    + Select a row and column slice with `iloc`.
    + Take a look at the [Pandas documentation for the `iat` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html). Use what you learn there to select a single item with Pandas `iat` accessor.

## Task 5e: Boolean Indexing

+ Create subsets of the iris dataset using boolean indexes that:
    + Use one boolean operator.
    + Use two boolean operators.