# Lesson 3 Practice: Pandas Part 1

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L03-Pandas_Part1-Lesson.ipynb](./L03-Pandas_Part1-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

+ `numpy` as `np`
+ `pandas` as `pd`

In [1]:
import numpy as np
import pandas as pd

## Task 2a Create a `pd.Series` object

+ Create a series of your own design.

In [3]:
my_series = pd.Series([1,2,3,3,4.5,np.nan])
my_series

0    1.0
1    2.0
2    3.0
3    3.0
4    4.5
5    NaN
dtype: float64

## Task 2b: Creating a DataFrame

+ Create a pd.DataFrame object from a Python dictionary. Design the data as you like.

In [6]:
my_df = pd.DataFrame(5*np.random.random((5,5)))
my_df

          0         1         2         3         4
0  3.737973  1.844696  0.809058  4.583066  3.249049
1  0.069999  3.175255  4.439225  2.048924  2.199276
2  4.883604  3.450487  2.980181  2.532326  4.274959
3  1.552431  0.884076  0.200723  2.633220  4.141591
4  2.578198  2.796668  0.012888  0.774922  0.578645

## Task 2c: Create DataFrame with labels

+ Create a 10x5 dataframe of random numeric integers that follow a [Guassian (normal) Distribution](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.normal.html). 
  + Center the distrubtion at 0.85.
  + We will use these values as assumed grades for a class of students
+ Adjust the row indexes to be the names of hypothetical students.
+ Adjust the columsn to be the names of hypothetical projects, homework, exam names, etc.

In [14]:
col_names = np.array(['Projects', 'Homework', 'Exam 1', 'Exam 2', 'Exam 3'])
row_names = np.array(['Joe', 'Sam', 'Stephen', 'James', 'Phil', 'Dan', 'Jill', 'Janet', 'Sara', 'Scarlet'])
df_1 = pd.DataFrame(np.random.normal(0.85, scale = 0.05, size =(10,5)), index = row_names, columns = col_names)
df_1

         Projects  Homework    Exam 1    Exam 2    Exam 3
Joe      0.788378  0.893422  0.789278  0.913944  0.822258
Sam      0.800039  0.857451  0.946886  0.831507  0.860384
Stephen  0.909926  0.801938  0.845777  0.778731  0.864469
James    0.862680  0.718900  0.843648  0.902559  0.882061
Phil     0.932796  0.777095  0.784860  0.909119  0.771161
Dan      0.881699  0.882439  0.820497  0.863950  0.801662
Jill     0.916421  0.915973  0.997954  0.921714  0.786278
Janet    0.807055  0.865247  0.750283  0.894781  0.810678
Sara     0.800602  0.903505  0.885027  0.855224  0.849440
Scarlet  0.779394  0.848586  0.815495  0.829158  0.805316

## Task 3a: Import the iris.csv file

+ Import the iris dataset.
+ Take a look at the `pd.read_csv` online documentation. Write example code in a Markup cell for how you would import this file if it were tab-delimited.

In [16]:
df_iris = pd.read_csv('data/iris.csv')
df_iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

df_iris = pd.read_csv('data/iris.csv', delimiter = '\t')

## Task 4a: Explore Data

 + Use `head`, `tail` and `sample` with the iris dataset.
 + Do the same with the dataset you created in task 2c.

In [17]:
print(df_iris.head(), '\n', df_iris.tail(), '\n', df_iris.sample(frac = 0.25))
print(df_1.head(), '\n', df_1.tail(), '\n', df_1.sample(3))

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
      sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica
      sepal_length  sepal_width  petal_length  petal_width     species
7             5.0          3.4           1.5          0.2      setosa
133           6.3          2.8           5.1          1.5   virginica
60            5.0          2.0           3.5          1.0  versicolor
70            5.9          3.2           4.8          1.8  versicolor
33            5.5          4.2           1.4          0.2      setosa
47            4.6          3.2           1.4          0.2      setosa
96            5.7          2.9           4.2          1.3  versicolor
97            6.2          2.9           4.3          1.3  versicolor
42            4.4          3.2           1.3          0.2      setosa
62            6.0          2.2           4.0          1.0  versicolor
111           6.4          2.7           5.3          1.9   virginica
43            5.0          3.5           1.6          0.6      setosa
3             4.6          3.1           1.5          0.2      setosa
19            5.1          3.8           1.5          0.3      setosa
112           6.8          3.0           5.5          2.1   virginica
29            4.7          3.2           1.6          0.2      setosa
24            4.8          3.4           1.9          0.2      setosa
54            6.5          2.8           4.6          1.5  versicolor
90            5.5          2.6           4.4          1.2  versicolor
147           6.5          3.0           5.2          2.0   virginica
64            5.6          2.9           3.6          1.3  versicolor
104           6.5          3.0           5.8          2.2   virginica
58            6.6          2.9           4.6          1.3  versicolor
124           6.7          3.3           5.7          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
136           6.3          3.4           5.6          2.4   virginica
145           6.7          3.0           5.2          2.3   virginica
40            5.0          3.5           1.3          0.3      setosa
94            5.6          2.7           4.2          1.3  versicolor
27            5.2          3.5           1.5          0.2      setosa
123           6.3          2.7           4.9          1.8   virginica
57            4.9          2.4           3.3          1.0  versicolor
119           6.0          2.2           5.0          1.5   virginica
15            5.7          4.4           1.5          0.4      setosa
78            6.0          2.9           4.5          1.5  versicolor
137           6.4          3.1           5.5          1.8   virginica
30            4.8          3.1           1.6          0.2      setosa
146           6.3          2.5           5.0          1.9   virginica
         Projects  Homework    Exam 1    Exam 2    Exam 3
Joe      0.788378  0.893422  0.789278  0.913944  0.822258
Sam      0.800039  0.857451  0.946886  0.831507  0.860384
Stephen  0.909926  0.801938  0.845777  0.778731  0.864469
James    0.862680  0.718900  0.843648  0.902559  0.882061
Phil     0.932796  0.777095  0.784860  0.909119  0.771161
          Projects  Homework    Exam 1    Exam 2    Exam 3
Dan      0.881699  0.882439  0.820497  0.863950  0.801662
Jill     0.916421  0.915973  0.997954  0.921714  0.786278
Janet    0.807055  0.865247  0.750283  0.894781  0.810678
Sara     0.800602  0.903505  0.885027  0.855224  0.849440
Scarlet  0.779394  0.848586  0.815495  0.829158  0.805316
       Projects  Homework    Exam 1    Exam 2    Exam 3
Jill  0.916421  0.915973  0.997954  0.921714  0.786278
Phil  0.932796  0.777095  0.784860  0.909119  0.771161
Sam   0.800039  0.857451  0.946886  0.831507  0.860384

## Task 5a: Viewing columns and rows

+ Display the columns and indexes of the iris dataset.
+ Do the same with the dataset you created in Task 2c.

In [21]:
print(df_iris.columns, '\n',df_iris.index)
print(df_1.columns, '\n', df_1.index)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
 RangeIndex(start=0, stop=150, step=1)
Index(['Projects', 'Homework', 'Exam 1', 'Exam 2', 'Exam 3'], dtype='object')
 Index(['Joe', 'Sam', 'Stephen', 'James', 'Phil', 'Dan', 'Jill', 'Janet',
       'Sara', 'Scarlet'],
      dtype='object')

## Task 5b: Get Values

+ Check the version of `pandas` you have 
+ Use the appropriate method to convert the iris data to a dictionary.
+ Do the same with the dataset you created in Task 2c.

In [25]:
pd.__version__
dic_iris = df_iris.to_dict()
dic_1 = df_1.to_dict()
print(dic_iris, '\n','\n', dic_1)

{'sepal_length': {0: 5.1, 1: 4.9, 2: 4.7, 3: 4.6, 4: 5.0, 5: 5.4, 6: 4.6, 7: 5.0, 8: 4.4, 9: 4.9, 10: 5.4, 11: 4.8, 12: 4.8, 13: 4.3, 14: 5.8, 15: 5.7, 16: 5.4, 17: 5.1, 18: 5.7, 19: 5.1, 20: 5.4, 21: 5.1, 22: 4.6, 23: 5.1, 24: 4.8, 25: 5.0, 26: 5.0, 27: 5.2, 28: 5.2, 29: 4.7, 30: 4.8, 31: 5.4, 32: 5.2, 33: 5.5, 34: 4.9, 35: 5.0, 36: 5.5, 37: 4.9, 38: 4.4, 39: 5.1, 40: 5.0, 41: 4.5, 42: 4.4, 43: 5.0, 44: 5.1, 45: 4.8, 46: 5.1, 47: 4.6, 48: 5.3, 49: 5.0, 50: 7.0, 51: 6.4, 52: 6.9, 53: 5.5, 54: 6.5, 55: 5.7, 56: 6.3, 57: 4.9, 58: 6.6, 59: 5.2, 60: 5.0, 61: 5.9, 62: 6.0, 63: 6.1, 64: 5.6, 65: 6.7, 66: 5.6, 67: 5.8, 68: 6.2, 69: 5.6, 70: 5.9, 71: 6.1, 72: 6.3, 73: 6.1, 74: 6.4, 75: 6.6, 76: 6.8, 77: 6.7, 78: 6.0, 79: 5.7, 80: 5.5, 81: 5.5, 82: 5.8, 83: 6.0, 84: 5.4, 85: 6.0, 86: 6.7, 87: 6.3, 88: 5.6, 89: 5.5, 90: 5.5, 91: 6.1, 92: 5.8, 93: 5.0, 94: 5.6, 95: 5.7, 96: 5.7, 97: 6.2, 98: 5.1, 99: 5.7, 100: 6.3, 101: 5.8, 102: 7.1, 103: 6.3, 104: 6.5, 105: 7.6, 106: 4.9, 107: 7.3, 108: 6.7, 109: 7.2, 110: 6.5, 111: 6.4, 112: 6.8, 113: 5.7, 114: 5.8, 115: 6.4, 116: 6.5, 117: 7.7, 118: 7.7, 119: 6.0, 120: 6.9, 121: 5.6, 122: 7.7, 123: 6.3, 124: 6.7, 125: 7.2, 126: 6.2, 127: 6.1, 128: 6.4, 129: 7.2, 130: 7.4, 131: 7.9, 132: 6.4, 133: 6.3, 134: 6.1, 135: 7.7, 136: 6.3, 137: 6.4, 138: 6.0, 139: 6.9, 140: 6.7, 141: 6.9, 142: 5.8, 143: 6.8, 144: 6.7, 145: 6.7, 146: 6.3, 147: 6.5, 148: 6.2, 149: 5.9}, 'sepal_width': {0: 3.5, 1: 3.0, 2: 3.2, 3: 3.1, 4: 3.6, 5: 3.9, 6: 3.4, 7: 3.4, 8: 2.9, 9: 3.1, 10: 3.7, 11: 3.4, 12: 3.0, 13: 3.0, 14: 4.0, 15: 4.4, 16: 3.9, 17: 3.5, 18: 3.8, 19: 3.8, 20: 3.4, 21: 3.7, 22: 3.6, 23: 3.3, 24: 3.4, 25: 3.0, 26: 3.4, 27: 3.5, 28: 3.4, 29: 3.2, 30: 3.1, 31: 3.4, 32: 4.1, 33: 4.2, 34: 3.1, 35: 3.2, 36: 3.5, 37: 3.1, 38: 3.0, 39: 3.4, 40: 3.5, 41: 2.3, 42: 3.2, 43: 3.5, 44: 3.8, 45: 3.0, 46: 3.8, 47: 3.2, 48: 3.7, 49: 3.3, 50: 3.2, 51: 3.2, 52: 3.1, 53: 2.3, 54: 2.8, 55: 2.8, 56: 3.3, 57: 2.4, 58: 2.9, 59: 2.7, 60: 2.0, 61: 3.0, 62: 2.2, 63: 2.9, 64: 2.9, 65: 3.1, 66: 3.0, 67: 2.7, 68: 2.2, 69: 2.5, 70: 3.2, 71: 2.8, 72: 2.5, 73: 2.8, 74: 2.9, 75: 3.0, 76: 2.8, 77: 3.0, 78: 2.9, 79: 2.6, 80: 2.4, 81: 2.4, 82: 2.7, 83: 2.7, 84: 3.0, 85: 3.4, 86: 3.1, 87: 2.3, 88: 3.0, 89: 2.5, 90: 2.6, 91: 3.0, 92: 2.6, 93: 2.3, 94: 2.7, 95: 3.0, 96: 2.9, 97: 2.9, 98: 2.5, 99: 2.8, 100: 3.3, 101: 2.7, 102: 3.0, 103: 2.9, 104: 3.0, 105: 3.0, 106: 2.5, 107: 2.9, 108: 2.5, 109: 3.6, 110: 3.2, 111: 2.7, 112: 3.0, 113: 2.5, 114: 2.8, 115: 3.2, 116: 3.0, 117: 3.8, 118: 2.6, 119: 2.2, 120: 3.2, 121: 2.8, 122: 2.8, 123: 2.7, 124: 3.3, 125: 3.2, 126: 2.8, 127: 3.0, 128: 2.8, 129: 3.0, 130: 2.8, 131: 3.8, 132: 2.8, 133: 2.8, 134: 2.6, 135: 3.0, 136: 3.4, 137: 3.1, 138: 3.0, 139: 3.1, 140: 3.1, 141: 3.1, 142: 2.7, 143: 3.2, 144: 3.3, 145: 3.0, 146: 2.5, 147: 3.0, 148: 3.4, 149: 3.0}, 'petal_length': {0: 1.4, 1: 1.4, 2: 1.3, 3: 1.5, 4: 1.4, 5: 1.7, 6: 1.4, 7: 1.5, 8: 1.4, 9: 1.5, 10: 1.5, 11: 1.6, 12: 1.4, 13: 1.1, 14: 1.2, 15: 1.5, 16: 1.3, 17: 1.4, 18: 1.7, 19: 1.5, 20: 1.7, 21: 1.5, 22: 1.0, 23: 1.7, 24: 1.9, 25: 1.6, 26: 1.6, 27: 1.5, 28: 1.4, 29: 1.6, 30: 1.6, 31: 1.5, 32: 1.5, 33: 1.4, 34: 1.5, 35: 1.2, 36: 1.3, 37: 1.5, 38: 1.3, 39: 1.5, 40: 1.3, 41: 1.3, 42: 1.3, 43: 1.6, 44: 1.9, 45: 1.4, 46: 1.6, 47: 1.4, 48: 1.5, 49: 1.4, 50: 4.7, 51: 4.5, 52: 4.9, 53: 4.0, 54: 4.6, 55: 4.5, 56: 4.7, 57: 3.3, 58: 4.6, 59: 3.9, 60: 3.5, 61: 4.2, 62: 4.0, 63: 4.7, 64: 3.6, 65: 4.4, 66: 4.5, 67: 4.1, 68: 4.5, 69: 3.9, 70: 4.8, 71: 4.0, 72: 4.9, 73: 4.7, 74: 4.3, 75: 4.4, 76: 4.8, 77: 5.0, 78: 4.5, 79: 3.5, 80: 3.8, 81: 3.7, 82: 3.9, 83: 5.1, 84: 4.5, 85: 4.5, 86: 4.7, 87: 4.4, 88: 4.1, 89: 4.0, 90: 4.4, 91: 4.6, 92: 4.0, 93: 3.3, 94: 4.2, 95: 4.2, 96: 4.2, 97: 4.3, 98: 3.0, 99: 4.1, 100: 6.0, 101: 5.1, 102: 5.9, 103: 5.6, 104: 5.8, 105: 6.6, 106: 4.5, 107: 6.3, 108: 5.8, 109: 6.1, 110: 5.1, 111: 5.3, 112: 5.5, 113: 5.0, 114: 5.1, 115: 5.3, 116: 5.5, 117: 6.7, 118: 6.9, 119: 5.0, 120: 5.7, 121: 4.9, 122: 6.7, 123: 4.9, 124: 5.7, 125: 6.0, 126: 4.8, 127: 4.9, 128: 5.6, 129: 5.8, 130: 6.1, 131: 6.4, 132: 5.6, 133: 5.1, 134: 5.6, 135: 6.1, 136: 5.6, 137: 5.5, 138: 4.8, 139: 5.4, 140: 5.6, 141: 5.1, 142: 5.1, 143: 5.9, 144: 5.7, 145: 5.2, 146: 5.0, 147: 5.2, 148: 5.4, 149: 5.1}, 'petal_width': {0: 0.2, 1: 0.2, 2: 0.2, 3: 0.2, 4: 0.2, 5: 0.4, 6: 0.3, 7: 0.2, 8: 0.2, 9: 0.1, 10: 0.2, 11: 0.2, 12: 0.1, 13: 0.1, 14: 0.2, 15: 0.4, 16: 0.4, 17: 0.3, 18: 0.3, 19: 0.3, 20: 0.2, 21: 0.4, 22: 0.2, 23: 0.5, 24: 0.2, 25: 0.2, 26: 0.4, 27: 0.2, 28: 0.2, 29: 0.2, 30: 0.2, 31: 0.4, 32: 0.1, 33: 0.2, 34: 0.1, 35: 0.2, 36: 0.2, 37: 0.1, 38: 0.2, 39: 0.2, 40: 0.3, 41: 0.3, 42: 0.2, 43: 0.6, 44: 0.4, 45: 0.3, 46: 0.2, 47: 0.2, 48: 0.2, 49: 0.2, 50: 1.4, 51: 1.5, 52: 1.5, 53: 1.3, 54: 1.5, 55: 1.3, 56: 1.6, 57: 1.0, 58: 1.3, 59: 1.4, 60: 1.0, 61: 1.5, 62: 1.0, 63: 1.4, 64: 1.3, 65: 1.4, 66: 1.5, 67: 1.0, 68: 1.5, 69: 1.1, 70: 1.8, 71: 1.3, 72: 1.5, 73: 1.2, 74: 1.3, 75: 1.4, 76: 1.4, 77: 1.7, 78: 1.5, 79: 1.0, 80: 1.1, 81: 1.0, 82: 1.2, 83: 1.6, 84: 1.5, 85: 1.6, 86: 1.5, 87: 1.3, 88: 1.3, 89: 1.3, 90: 1.2, 91: 1.4, 92: 1.2, 93: 1.0, 94: 1.3, 95: 1.2, 96: 1.3, 97: 1.3, 98: 1.1, 99: 1.3, 100: 2.5, 101: 1.9, 102: 2.1, 103: 1.8, 104: 2.2, 105: 2.1, 106: 1.7, 107: 1.8, 108: 1.8, 109: 2.5, 110: 2.0, 111: 1.9, 112: 2.1, 113: 2.0, 114: 2.4, 115: 2.3, 116: 1.8, 117: 2.2, 118: 2.3, 119: 1.5, 120: 2.3, 121: 2.0, 122: 2.0, 123: 1.8, 124: 2.1, 125: 1.8, 126: 1.8, 127: 1.8, 128: 2.1, 129: 1.6, 130: 1.9, 131: 2.0, 132: 2.2, 133: 1.5, 134: 1.4, 135: 2.3, 136: 2.4, 137: 1.8, 138: 1.8, 139: 2.1, 140: 2.4, 141: 2.3, 142: 1.9, 143: 2.3, 144: 2.5, 145: 2.3, 146: 1.9, 147: 2.0, 148: 2.3, 149: 1.8}, 'species': {0: 'setosa', 1: 'setosa', 2: 'setosa', 3: 'setosa', 4: 'setosa', 5: 'setosa', 6: 'setosa', 7: 'setosa', 8: 'setosa', 9: 'setosa', 10: 'setosa', 11: 'setosa', 12: 'setosa', 13: 'setosa', 14: 'setosa', 15: 'setosa', 16: 'setosa', 17: 'setosa', 18: 'setosa', 19: 'setosa', 20: 'setosa', 21: 'setosa', 22: 'setosa', 23: 'setosa', 24: 'setosa', 25: 'setosa', 26: 'setosa', 27: 'setosa', 28: 'setosa', 29: 'setosa', 30: 'setosa', 31: 'setosa', 32: 'setosa', 33: 'setosa', 34: 'setosa', 35: 'setosa', 36: 'setosa', 37: 'setosa', 38: 'setosa', 39: 'setosa', 40: 'setosa', 41: 'setosa', 42: 'setosa', 43: 'setosa', 44: 'setosa', 45: 'setosa', 46: 'setosa', 47: 'setosa', 48: 'setosa', 49: 'setosa', 50: 'versicolor', 51: 'versicolor', 52: 'versicolor', 53: 'versicolor', 54: 'versicolor', 55: 'versicolor', 56: 'versicolor', 57: 'versicolor', 58: 'versicolor', 59: 'versicolor', 60: 'versicolor', 61: 'versicolor', 62: 'versicolor', 63: 'versicolor', 64: 'versicolor', 65: 'versicolor', 66: 'versicolor', 67: 'versicolor', 68: 'versicolor', 69: 'versicolor', 70: 'versicolor', 71: 'versicolor', 72: 'versicolor', 73: 'versicolor', 74: 'versicolor', 75: 'versicolor', 76: 'versicolor', 77: 'versicolor', 78: 'versicolor', 79: 'versicolor', 80: 'versicolor', 81: 'versicolor', 82: 'versicolor', 83: 'versicolor', 84: 'versicolor', 85: 'versicolor', 86: 'versicolor', 87: 'versicolor', 88: 'versicolor', 89: 'versicolor', 90: 'versicolor', 91: 'versicolor', 92: 'versicolor', 93: 'versicolor', 94: 'versicolor', 95: 'versicolor', 96: 'versicolor', 97: 'versicolor', 98: 'versicolor', 99: 'versicolor', 100: 'virginica', 101: 'virginica', 102: 'virginica', 103: 'virginica', 104: 'virginica', 105: 'virginica', 106: 'virginica', 107: 'virginica', 108: 'virginica', 109: 'virginica', 110: 'virginica', 111: 'virginica', 112: 'virginica', 113: 'virginica', 114: 'virginica', 115: 'virginica', 116: 'virginica', 117: 'virginica', 118: 'virginica', 119: 'virginica', 120: 'virginica', 121: 'virginica', 122: 'virginica', 123: 'virginica', 124: 'virginica', 125: 'virginica', 126: 'virginica', 127: 'virginica', 128: 'virginica', 129: 'virginica', 130: 'virginica', 131: 'virginica', 132: 'virginica', 133: 'virginica', 134: 'virginica', 135: 'virginica', 136: 'virginica', 137: 'virginica', 138: 'virginica', 139: 'virginica', 140: 'virginica', 141: 'virginica', 142: 'virginica', 143: 'virginica', 144: 'virginica', 145: 'virginica', 146: 'virginica', 147: 'virginica', 148: 'virginica', 149: 'virginica'}}

 {'Projects': {'Joe': 0.7883777288451784, 'Sam': 0.8000392753485803, 'Stephen': 0.9099259476665397, 'James': 0.862679525445448, 'Phil': 0.9327960592778737, 'Dan': 0.8816991356065049, 'Jill': 0.9164211148275622, 'Janet': 0.8070552330285291, 'Sara': 0.8006015479141497, 'Scarlet': 0.7793938419575446}, 'Homework': {'Joe': 0.8934216176936757, 'Sam': 0.8574508456321703, 'Stephen': 0.8019382606405598, 'James': 0.7188998295756959, 'Phil': 0.7770945340301416, 'Dan': 0.8824394118353265, 'Jill': 0.9159727285617347, 'Janet': 0.8652470464830986, 'Sara': 0.9035051962859244, 'Scarlet': 0.8485859730150958}, 'Exam 1': {'Joe': 0.7892783885186012, 'Sam': 0.9468861503564843, 'Stephen': 0.845776688563408, 'James': 0.843648441705701, 'Phil': 0.7848597854394072, 'Dan': 0.8204965520217768, 'Jill': 0.9979536911937017, 'Janet': 0.7502825459929221, 'Sara': 0.8850266500145403, 'Scarlet': 0.8154946425647266}, 'Exam 2': {'Joe': 0.9139443426667176, 'Sam': 0.8315070761617944, 'Stephen': 0.7787307632413834, 'James': 0.9025587731661537, 'Phil': 0.9091187683125582, 'Dan': 0.8639503203609125, 'Jill': 0.9217135839987793, 'Janet': 0.8947811456940618, 'Sara': 0.8552235746204456, 'Scarlet': 0.8291575448297824}, 'Exam 3': {'Joe': 0.8222578046789362, 'Sam': 0.8603842295298052, 'Stephen': 0.8644687877037491, 'James': 0.8820611143529055, 'Phil': 0.7711609403570643, 'Dan': 0.8016622089871088, 'Jill': 0.7862782694270332, 'Janet': 0.8106783015583976, 'Sara': 0.8494397451264256, 'Scarlet': 0.8053160450240554}}

## Task 5c: Using `loc`

+ Use any iris dataframe to:
  + Select a row slice with `loc`.
  + Select a row and column slice with `loc`.
  + Take a look at the [Pandas documentation for the `at` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html). Use what you learn there to select a single item with Pandas `at` accessor.

In [36]:
row_slice = df_iris.loc[0:3]
row_col_slice = df_iris.loc[0:3, ['petal_length','species']]
sel_element = df_iris.loc[2].at['sepal_length']
print(row_slice, '\n', row_col_slice, '\n', sel_element)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
    petal_length species
0           1.4  setosa
1           1.4  setosa
2           1.3  setosa
3           1.5  setosa
 4.7

## Task 5d: Using `iloc`

+ Use any iris dataframe to:    
    + Select a row slice with `iloc`.
    + Select a row and column slice with `iloc`.
    + Take a look at the [Pandas documentation for the `iat` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html). Use what you learn there to select a single item with Pandas `iat` accessor.

In [37]:
print(df_iris.iloc[-1:],'\n', df_iris.iloc[-1:,-1:], '\n', df_iris.iat[0,1])

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica
        species
149  virginica
 3.5

## Task 5e: Boolean Indexing

+ Create subsets of the iris dataset using boolean indexes that:
    + Use one boolean operator.
    + Use two boolean operators.

In [50]:
a = df_iris.iloc[:,:-1] > 3
b = df_iris.iloc[:, :-1] < 6
print(df_iris[df_iris.iloc[:] == 4].head(), '\n', df_iris[a & b])

   sepal_length  sepal_width  petal_length  petal_width species
0           NaN          NaN           NaN          NaN     NaN
1           NaN          NaN           NaN          NaN     NaN
2           NaN          NaN           NaN          NaN     NaN
3           NaN          NaN           NaN          NaN     NaN
4           NaN          NaN           NaN          NaN     NaN
      sepal_length  sepal_width  petal_length  petal_width species
0             5.1          3.5           NaN          NaN     NaN
1             4.9          NaN           NaN          NaN     NaN
2             4.7          3.2           NaN          NaN     NaN
3             4.6          3.1           NaN          NaN     NaN
4             5.0          3.6           NaN          NaN     NaN
..            ...          ...           ...          ...     ...
145           NaN          NaN           5.2          NaN     NaN
146           NaN          NaN           5.0          NaN     NaN
147           NaN          NaN           5.2          NaN     NaN
148           NaN          3.4           5.4          NaN     NaN
149           5.9          NaN           5.1          NaN     NaN

[150 rows x 5 columns]