# Lesson 7 Class Exercises: More Practice

Because we are a bit ahead of schedule, we will return to some of the previous class exercises we did not complete.  If we finish those we will return here to practice futher.

## Get Started
Import the Numpy and Pandas packages

In [1]:
import numpy as np
import pandas as pd

## Exercise 1

Read in the apple data found in the `../data/apple_data.txt` directory.

,State,1982,1987,1992,1997,2002,2007,1982,1987,1992.1,1997.1,2002.1,2007.1,2002.2,2007.2,2002.3,2007.3
0,Alabama,899,626,474,479,265,231,"1,548","1,217","1,011",968,594,393,191,144,386,307
1,Alaska,--,--,2,4,9,10,--,--,(D),2,13,15,8,10,(D),(D)
2,Arizona,214,224,235,158,185,496,"1,969","4,881","5,770","4,003","1,581","1,344",118,424,"1,459","1,249"
3,Arkansas,512,451,247,238,164,153,"2,276","2,120","1,430","1,048",658,287,123,116,560,220
4,California,"2,904","2,787","3,082","3,454","2,120","2,074","29,933","34,105","42,024","49,704","38,268","22,184","1,850","1,850","35,856","20,954"

Explore the data using the approach we've used thus far

Index(['       State', '1982', '1987', '1992', '1997', '2002', '2007',
       '  1982', '  1987', '1992.1', '1997.1', '2002.1', '2007.1', '2002.2',
       '2007.2', '2002.3', '2007.3'],
      dtype='object')

       State    object
1982            object
1987            object
1992            object
1997            object
2002            object
2007            object
  1982          object
  1987          object
1992.1          object
1997.1          object
2002.1          object
2007.1          object
2002.2          object
2007.2          object
2002.3          object
2007.3          object
dtype: object

0

Clean the data if needed

,State,1982,1987,1992,1997,2002,2007,1982,1987,1992.1,1997.1,2002.1,2007.1,2002.2,2007.2,2002.3,2007.3
0,Alabama,899,626,474,479,265,231,"1,548","1,217","1,011",968,594,393,191,144,386,307
1,Alaska,NaN,NaN,2,4,9,10,NaN,NaN,NaN,2,13,15,8,10,NaN,NaN
2,Arizona,214,224,235,158,185,496,"1,969","4,881","5,770","4,003","1,581","1,344",118,424,"1,459","1,249"
3,Arkansas,512,451,247,238,164,153,"2,276","2,120","1,430","1,048",658,287,123,116,560,220
4,California,"2,904","2,787","3,082","3,454","2,120","2,074","29,933","34,105","42,024","49,704","38,268","22,184","1,850","1,850","35,856","20,954"

       State    0
1982            2
1987            2
1992            1
1997            1
2002            0
2007            0
  1982          2
  1987          2
1992.1          3
1997.1          3
2002.1          3
2007.1          3
2002.2          0
2007.2          0
2002.3          5
2007.3          3
dtype: int64

Tidy the data

ValueError: cannot convert float NaN to integer